html{scroll-behavior: smooth;}
body{margin:0;font-family: 'Montserrat', sans-serif;background-color:#7C8840;color: #fff;}
body.hide-scroll{overflow: hidden;max-height: 100vh;}

@font-face {font-family: 'Beyond The Mountains';src: url('beyond_the_mountains.ttf');}
a {text-decoration: none;color: #7C8840;}
a:hover{color: aqua;}
a.close{text-decoration: none;color: #000;background: #fff;padding: 6pt 10pt;text-align: center;display: block;width: fit-content;border: 1px solid black;float: right;margin-top: 5pt;}
.main{width: 100%;overflow: hidden;}
.main .logo{width: 150px;margin: 5pt auto;display: block;padding-bottom:20pt}
.main-header .title{font-family: 'Beyond The Mountains';margin: 10pt auto;text-align: center;font-size: 40pt;font-weight: 100;}

.main-body{height: 100%;display: flex;margin-bottom: 30pt;}
.main-body .body-left, .main-body .body-right{height: 100%;width: 50%;padding: 5pt;}
.main-body .body-left .img{width: 100%;}
.main-body .body-left .img svg{width: 100%;height: auto;}
.footer h4 {font-size: 1.6em;margin:0;line-height: 150%;text-align: center;font-weight: 400;}
.footer p{text-align: center;font-weight: 300;}
.footer .social-media{padding: 10px 0;text-align: center;}
.footer .social-media ul{padding: 0;}
.footer .social-media ul li {vertical-align: middle;display: inline-block;margin: 0 8px;}
.footer .social-media .bullet {display: block;color: #000;background-color: #fff;width: 40px;height: 40px;font-size: 1.6em;line-height: 40px;border-radius: 100%;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;}
.footer .social-media ul li.facebook .bullet:hover {background-color: #5d82d1;color: #fff;}
.footer .social-media ul li.twitter .bullet:hover {background-color: #40bff5;color: #fff;}
.footer .social-media ul li.whatsapp .bullet:hover {background-color: #5CB100;color: #fff;}

.main-body .body-right .right-header{border-bottom: 10px solid #fff;width: auto;display: flow-root;}
.main-body .body-right .right-header h5{font-size: 20pt;margin: 0;text-transform: uppercase;font-weight: 900;margin:5pt 0;float: left;}
.main-body .body-right .right-header h5.name{font-family: 'Beyond The Mountains';font-weight:100;font-size: 25pt;text-transform: none;float: right;display: none;margin: 0;padding-right: 5pt;}
.main-body .body-right .right-body{font-weight: 300;width: auto;margin-top: 10pt;background-color: #fff;color: #000;padding: 1pt 10pt;padding-bottom: 10pt;line-height: 25px;}
.main-body .body-right .right-footer {box-sizing: border-box;display: none;}
.main-body .body-right .mini-right-footer h5{font-family: 'Beyond The Mountains';font-weight:100;font-size: 25pt;text-transform: none;margin: 0;text-align: center;margin-top: 20px;margin-bottom: 20px;line-height: 30pt;}
.main-body .body-right .mini-right-footer{font-weight: 300;background-color: #fff;color: #000;padding: 5pt 10pt;display: inline-block;flex: 1;line-height: 25px;}
.main-body .body-right .mini-right-footer.left{margin: 5pt 0; margin-right: 5pt;}
.main-body .body-right .mini-right-footer.right{margin: 5pt 0; margin-left: 5pt;}

.btn{background: #fff;color:#000;padding: 6pt 12pt;border-radius: 10px;display: block;width: fit-content;margin: 0 auto;cursor: pointer;text-decoration: none;}
.btn:hover{background: #000;color: #fff;}
.database{display: none;}
#btn-pembela{cursor: pointer;}
#btn-penggerak{cursor: pointer;}
#btn-pendidik{cursor: pointer;}
#btn-penjaga{cursor: pointer;}
#btn-pelestari{cursor: pointer;}
.mobile-slider{position: fixed;top: 0;left: 0;right: 0;bottom: 0;display: none;}
.mobile-slider-content{padding: 5pt 20px;}
.mobile-content{background-color: #fff;color: #000;padding: 2px 15px;font-weight: 300;border: 1px solid #000;max-height: 60vh;overflow-y: scroll;float: right;}
h4.category{font-size: 30pt;margin: 5px;text-align: center;text-transform: uppercase;}
p.category{margin: 5px;text-align: center;font-weight: 900;text-transform: uppercase;}
.mobile-content h5{font-family: 'Beyond The Mountains';font-size: 25pt;text-align: center;margin: 0;line-height: 45px;}

@media only screen and (max-width:1024px){
    .main-body{display: block;position: relative;padding-bottom: 600px;}
    .main-body .body-left, .main-body .body-right{width: auto;padding: 5pt 40pt;}
    .footer{position: absolute;width: unset;bottom: 0px;margin: 0 auto;left: 50%;margin-left: -50%;height: 600px;padding: 0 5%;}
    .main-body .body-right .right-body{padding: 10pt 50pt;}
    .main-body .body-right .mini-right-footer{padding: 5pt 20pt;}
}
@media only screen and (max-width:650px){
    .main-body .body-left, .main-body .body-right, .main-header{padding: 5pt 20pt;}
    .main-header .title {line-height: 55px;}
    .main-body .body-right .right-body {padding: 10pt 25pt;}
    .main-body .body-right .mini-right-footer{padding: 5pt 10pt;}
}

@media only screen and (max-width:500px){
    .footer h4 {font-size: 1.2em;}
    .footer p {font-size: 13px;}
    .main-header .title {line-height: 65px;font-size: 34pt;}
    .main-body .body-left, .main-body .body-right, .main-header{padding: 5pt 10pt;}
}
@media only screen and (max-width:350px){
    .main-body{padding-bottom: 700px;}
    .footer{height: 700px;}
}